/*  your css code here. If applicable */
#circle-1,#circle-2,#circle-3,#circle-4,#circle-5
{
	width:20px;
	height:20px;
	border-radius:100%;
	border:2px solid blue;
	padding:3px;
	text-align:center;	
}
.container{
	display:flex;
	gap:10px;
}